@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  font-size: 36px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 22px;
}



.small{
  font-size: 12px;
}

.text-14{
  font-size: 14px;
}
.text-gray{
  color: rgb(94, 94, 94);
}


@media screen and (min-width : 768px) {
  h1{
    font-size: 42px;
  }

  h2{
    font-size: 36px;
  }

  h3{
    font-size: 27px;
  }

  h4{
    font-size: 24px;
  }

  h5{
    font-size: 20px;
  }

  h6{
    font-size: 16px;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat' , sans-serif;
  font-weight: 600;
  line-height: 140%;
}

.h-fit{
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
}

